<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.hyf.oldmvc.controller"/>

    <mvc:resources mapping="/pages/**" location="/pages/"/>
    <mvc:resources mapping="/static/**" location="/static/"/>
    <mvc:resources mapping="/index.html" location="/"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".html"/>
    </bean>




    <!--<mvc:annotation-driven conversion-service="conversionServiceFactoryBean" />-->

    <!-- 自定义转化器（用于数据绑定），仅支持数据转换，不支持格式化 -->
    <bean id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <!-- 一样实现Converter接口 -->
                <bean class="com.hyf.oldmvc.converter.OldConverter"/>
            </list>
        </property>
    </bean>

    <!-- ref引用了自定义转换器的id -->
    <bean id="webBindingInitializer" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
        <property name="conversionService" ref="conversionServiceFactoryBean" />
    </bean>

    <!-- 了解 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer" ref="webBindingInitializer" />
        <property name="messageConverters">
            <list>
                <!-- 配置json转换器 -->
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />


</beans>